/* PÁGINA PARA AS CLASSES DO PROJETO */ 

.container-info {
   display: flex;
   justify-content: space-between;
   margin: 20px 32px;
}

.main-section {
   width: 1100px;
   height: 350px;

   margin-right: auto;
   margin-left: auto;
   background-color: #ffff;
   border-radius: 10px;
   
   box-shadow: 0px 0px 0px 0.2px hsl(208, 11%, 55%);
   margin-top: 100px;
}

.content-one {
   display: flex;
   justify-content: space-around;

   align-items: center;
}

.content-two {
   display: flex;
   flex-direction: row-reverse;
   justify-content: right;
   align-items: center;

   gap: 140px;

   width: 1040px;
}

.btn {
   background-color: transparent;
   border: 1px solid hsl(322, 100%, 66%);
   color: hsl(192, 100%, 9%);
   width: 280px;
   transition: all 800ms ease-in-out;
}

.btn:hover {
   background-color: hsl(322, 100%, 66%);
}

.main-socialmedia {
   display: flex;
   gap: 14px;

   margin-left: auto;
   margin-top: -150px;
}

.fa-facebook-f {
   width: 18px;
   height: 18px;
   font-size: 17px;
 
  border: 1px solid hsl(193, 100%, 96%);
  border-radius: 50%;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 900ms ease-out;
}

.fa-facebook-f:hover {
   color: #ffffff;
   background-color:  hsl(322, 100%, 66%);
   transform: scale(1.1);
}

.fa-twitter {
  width: 18px;
  height: 18px;
  font-size: 17px;
  border: 1px solid #ffffff;
  border-radius: 50%;

  color: #ffffff;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 900ms ease-out;
}

.fa-twitter:hover {
   color: #ffffff;
   background-color:  hsl(322, 100%, 66%);
   transform: scale(1.1);
}

.fa-instagram {
   width: 18px;
   height: 18px;
   font-size: 17px;
   border: 1px solid #ffffff;
   border-radius: 50%;
 
   color: #ffffff;
   padding: 10px;
   text-align: center;
   cursor: pointer;
   transition: all 900ms ease-out;
}

.fa-instagram:hover {
   color: #ffffff;
   background-color:  hsl(322, 100%, 66%);
   transform: scale(1.1);
}
