
/* RESPONSIVIDADE DO PROJETO - ADEQUANDO A TELAS MENORES */

/*
@media (min-width: 375px) and (max-width: 768px) {
   header {
      background-image: url(../images/bg-hero-mobile.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 75%;

      display: flex;
      flex-direction: column;
   }

   .container-header {
      display: flex;
      gap: 40px;
   }

   .container-header img {
      width: 140px;
      height: 25px;
   }

   button {
      width: 400px;
   }

   .container-img img {
      width: 245px;
      height: 210px;
   }

   .container-heading p {
      width: 250px;
      text-align: center;
      margin-right: auto;
      margin-left: auto;
   }

   .main-section {
      max-width: 270px;
      height: 40vh;
      padding: 0 14px;
   }

   .content-one {
      margin-top: 215px;
   }

   .card-1 p {
      text-align: center;
   }

   .cardimg-3 img {
      width: 240px;
      height: 210px;
      margin-left: auto;
   }

   .card-button {
      width: 250px;
      height: 160px;

      margin-top: 870px;
   }
   .card-button h1 {
      font-size: 20px;
   }

   .btn {
      width: 240px;
      height: 40px;
      background-color:  hsl(322, 100%, 66%);
      color:  hsl(193, 100%, 96%);
   }
}
*/


@media (max-width: 768px) {

   body {
     overflow-x: hidden;
   }

   header {
      background-image: url(../images/bg-hero-mobile.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 75%;
   }
 
   header .container-header {
      display: flex;
      padding: 28px 0;

      margin-top: -35px;
   }

   .container-header img {
      width: 140px;
      height: 25px;
      margin-top: 10px;
   }

   .container-header button {
      width: 115px;
      height: 36px;

      font-size: 12px;
   }

   .container-info {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

   .container-info h2 {
      width: 100%;
      margin-left: auto;
      margin-right: auto;

      text-align: center;
  }

   .container-info p {
      width: 100%;
      text-align: center;
  }

  .container-img img {
      width: 300px;
      height: 230px;

      margin-top: 60px;
  }

   .container-heading .btn {
      display: flex;
      align-items: center;
      justify-content: center;

      margin-left: auto;
      margin-right: auto;
  }

  .main-section {
      width: 100%;
      height: 80vh;
      max-width: 340px;
  }

  .content-one {
      width: 100%;
      height: 40vh; 
      display: flex;
      flex-direction: column-reverse;
      margin-top: 250px;
  }

  .card-1 {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
  } 

  .card-1 h3 {
      margin-top: 25px;
  }

  .card-1 p {
      margin-top: 30px;
      width: 300px;
      text-align: center;
  }

  .cardimg-1 img {
      width: 250px;
      height: 250px;

      margin-top: 60px;
  }

  .content-two {
      width: 100%;
      height: 40vh; 
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;

      margin-top: -14px;
      padding-top: 20px;
  }

  .content-two img {
      margin-left: auto;
      margin-right: auto;

      margin-top: 280px;
  }

  .card-2 {
      width: 368px;
      margin-top: -40px;
  }

  .card-2 h3 {
      text-align: center;
      margin-top: -24px;
  }

   .card-2 p {
      width: 290px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
   }

   .cardimg-2 img {
      width: 250px;
      height: 220px;
   }

   .content-three {
      width: 100%;
      min-height: 60vh; 

      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
   }

   .card-3 h3 {
      text-align: center;
      margin-top: 50px;
   }

   .card-3 p {
      width: 250px;
      text-align: center;
      margin-bottom: 40px;
   }

   .cardimg-3 img {
      width: 250px;
      height: 220px;
      margin-left: auto;
   }

   .card-button {
      display: flex;
      width: 300px;
      height: 180px;

      border-radius: 14px;

      margin-top: 820px;
   }

   .card-button h1 {
      font-size: 20px;
   }

   .btn {
      width: 280px;
      height: 40px;

      font-size: 14px;
      margin-top: 25px;
   }

/* RODAPÉ DO PROJETO PARA A VERSÃO MOBILE */    
   .bg-footer {
      width: 405px;
      min-height: 50vh;

      display: flex;
      justify-content: right;
      padding: 0 30px;
   }

   .container-footer {
      display: flex;
      flex-direction: column;
      max-width: 100%;
   }

   .content-footer {
      display: flex;
      margin-top: 180px;
   }

   ul li a {
      padding: 4px;
      max-width: 400px;
   }

   .box-1 .text-info {
      width: 250px;
   }

   .box-4 {
      display: flex;
      max-width: 300px;
      padding: 4px;
   }

   .box-5 {
      display: flex;
      max-width: 300px;
      margin-left: -650px;
      margin-top: 70px;
   }

   .main-socialmedia {
      display: flex;
      margin-left: auto;
      margin-right: auto;

      margin-top: 40px;
   }

   span {
      text-align: center;
      width: 100%;
      margin-top: -210px;
   }
}