
/* RESPONSIVIDADE DO PROJETO - ADEQUANDO A TELAS MENORES */


@media (max-width: 375px) {

   /* FONTES 
      font-family: "Poppins", serif;
      font-family: "Open Sans", serif;
   */


    body {
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
   }

   header {
      background-image: url(../images/bg-hero-mobile.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 75%;
   }
 
   header .container-header {
      /*width: 100%;*/
      display: flex;
      margin: 5px 24px;
   }

   .container-header img {
      width: 140px;
      height: 25px;
      margin-top: 10px;
   }

   .container-header button {
      width: 130px;
      height: 36px;

      font-size: 12px;
      border: none;
      background-color: #ffff;
      box-shadow: 2px 2px 3px black;
   }

   .container-info {
      display: flex;
      flex-direction: column;
     

      width: 100%;
  }

   .container-info h2 {
      width: 320px;
      line-height: 40px;
      font-weight: 700;

      font-family: "Poppins", serif;
      text-align: center;
  }

   .container-info p {
      width: 300px;
      text-align: center;
      color:  hsl(192, 100%, 9%);
  }

  .container-img img {
      width: 300px;
      height: 220px;

      padding: 30px 0;
  }

   .container-heading .btn {
      display: flex;
      align-items: center;
      justify-content: center;

      margin-top: -10px;
  }

  .btn {
     border: none;
     background-color:  hsl(322, 100%, 66%);
     color: hsl(193, 100%, 96%);
  }

  .main-section {
      min-height: 80vh;
      max-width: 320px;
     
      margin: 30px auto;
      box-shadow: 2px 1px 3px 2px hsl(208, 8%, 31%);
  }

  .content-one {
      width: 100%;
      max-height: 20vh; 
      display: flex;
      flex-direction: column-reverse;

      margin-top: 25px;
  }

  .card-1 {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
  } 

  .card-1 h3 {
      margin-top: 25px;
  }

  .card-1 p {
      margin-top: 30px;
      width: 300px;
      text-align: center;
  }

  .cardimg-1 img {
      width: 250px;
      height: 250px;

      margin-top: 20px;
  }

  .content-two {
      width: 100%;
      max-height: 20vh; 
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;

      margin-top: 25px;
  }

  .content-two img {
      margin-left: auto;
      margin-right: auto;

      margin-top: 280px;
  }

  .card-2 {
      width: 368px;
      margin-top: -40px;
  }

  .card-2 h3 {
      text-align: center;
      margin-top: -24px;
  }

   .card-2 p {
      width: 290px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
   }

   .cardimg-2 img {
      width: 250px;
      height: 220px;
   }

   .content-three {
      width: 100%;
      max-height: 20vh; 

      display: flex;
      flex-direction: column-reverse;
      justify-content: center;

      padding: 14px 0;
   }

   .card-3 h3 {
      text-align: center;
      margin-top: 50px;
   }

   .card-3 p {
      width: 250px;
      text-align: center;
      margin-bottom: 40px;
   }

   .cardimg-3 img {
      width: 250px;
      height: 220px;
      margin-left: auto;

      margin-top: 440px;
   }

   .card-button {
      display: flex;
      width: 300px;
      height: 180px;

      border-radius: 14px;
      position: relative;
      top: 50px;
   }

   .card-button h1 {
      font-size: 20px;
   }

   .btn {
      width: 280px;
      height: 40px;

      font-size: 14px;
      margin-top: 25px;
   }

/* RODAPÉ DO PROJETO PARA A VERSÃO MOBILE */    

.bg-footer {
   width: 100%;
   min-height: 50vh;

   display: flex;
   justify-content: right;
   padding: 0 35px;

   margin-top: -35px;
}

.container-footer {
   display: flex;
   flex-direction: column;
   padding: 120px 40px;
}

.content-footer {
   display: flex;
   margin: 180px 0;
}

ul li a {
   padding: 4px;
   max-width: 400px;
}

.box-1 .text-info {
   width: 250px;
}

.box-4 {
   display: flex;
   max-width: 300px;
   padding: 4px;
}

.box-5 {
   display: flex;
   max-width: 300px;
   margin-left: -650px;
   margin-top: 70px;
}

.main-socialmedia {
   display: flex;
   margin-left: auto;
   margin-right: auto;

   margin-top: 40px;
}

span {
   text-align: center;
   width: 100%;
   margin-top: -210px;
}
}