
.container-header {
   display: flex;
   justify-content: space-between;
   margin: 0 45px;

  /* padding: 0 26px; */
}

.container-header img {
   width: 168px;
   height: 25px;

   cursor: pointer;
   margin-top: 17px;
}

.container-heading h2 {
  color: hsl(192, 100%, 9%);
  width: 280px;
  margin-top: 50px;
}

.container-heading p {
   width: 460px;
   padding: 38px 0;
}

.btn {
   background-color: transparent;
   border: 1px solid hsl(322, 100%, 66%);
   color: hsl(192, 100%, 9%);
   width: 280px;
   transition: all 800ms ease-in-out;
}

.btn:hover {
   background-color: hsl(322, 100%, 66%);
}

.container-img img {
   width: 660px;
   height: 440px;
}

.card-1 h3 {
  color: hsl(192, 100%, 9%);
}

.card-1 p {
   width: 428px;
   margin-top: 12px;
}

.cardimg-1 img {
   width: 340px;
   height: 280px;

   margin-top: 25px;
}


.card-2 p {
   width: 445px;
   color: hsl(208, 11%, 55%);

   margin-top: 12px;
}

.cardimg-2 img {
   width: 350px;
   height: 240px;

  margin-left: 65px;
  margin-top: 45px;
}

.card-button {
   display: flex;
   flex-direction: column;
   width: 600px;
   height: 200px;

   border-radius: 10px;

   color:  hsl(192, 100%, 9%);
   background-color: #ffff;
   box-shadow: 0px 10px 20px 10px rgba(14, 13, 13, 0.1);
   position: absolute;
   left: 50%;
   transform: translate(-50%);
   top: 124rem;
   z-index: 10;

   padding: 20px;

   margin-top: 60px;
}

.card-button h1 {
   text-align: center;
   margin-top: 18px;
}

.card-button .btn {
   margin-left: auto;
   margin-right: auto;
   
   margin-top: 45px;
   
}

/* STYLE DO FOOTER/RODAPÉ */

.bg-footer {
   margin-top: 280px;
   background-color:  hsl(192, 100%, 9%);
   width: 100%;
   min-height: 60vh;
}

.container-footer {
   padding: 160px 90px;
}

.container-footer img {
   width: 220px;
   height: 30px;

   margin-top: 20px; 
   filter: brightness(0) invert(1) sepia(100%) hue-rotate(180deg) saturate(500%);
}

.text-info {
   width: 350px;
   color:  hsl(193, 100%, 96%);
   padding: 0 40px;
   margin-top: -28px;
}

.text-number {
   color:  hsl(193, 100%, 96%);
   padding: 0 40px;
   margin-top: -28px;
}

.text-email {
   color:  hsl(193, 100%, 96%);
   padding: 0 40px;
   margin-top: -28px;
}

.box-1 img {
   width: 18px;
   height: 20px;
}

.box-2 img {
   width: 20px;
   height: 20px;
}

.box-3 img {
   width: 20px;
   height: 18px;
}


.content-footer  {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
} 

.box-4 ul li {
   display: flex;
   flex-direction: column;
   margin-top: -180px;
   list-style: none;
}

.box-5 ul li {
   display: flex;
   flex-direction: column;
   list-style: none;
}

.main-socialmedia {
   display: flex;
   gap: 30px;
}

.fa-facebook-f {
   width: 18px;
   height: 18px;
   font-size: 17px;
 
  border: 1px solid hsl(193, 100%, 96%);
  border-radius: 50%;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

.fa-twitter {
  width: 18px;
  height: 18px;
  font-size: 17px;
  border: 1px solid #ffffff;
  border-radius: 50%;

  color: #ffffff;
  padding: 10px;
  text-align: center;
}

.fa-instagram {
   width: 18px;
   height: 18px;
   font-size: 17px;
   border: 1px solid #ffffff;
   border-radius: 50%;
 
   color: #ffffff;
   padding: 10px;
   text-align: center;
}
