
.container-header {
   display: flex;
   justify-content: space-between;

  padding: 0 26px;
}

.container-header img {
   width: 168px;
   height: 25px;

   cursor: pointer;
   margin-top: 17px;
}


.container-info {
   display: flex;
   justify-content: space-between;
   margin: 20px 32px;
}

.container-heading h2 {
  color: hsl(192, 100%, 9%);
  width: 280px;
  margin-top: 50px;
}

.container-heading p {
   width: 460px;
   padding: 38px 0;
}

.btn {
   background-color: transparent;
   border: 1px solid hsl(322, 100%, 66%);
   color: hsl(192, 100%, 9%);
   width: 280px;
   transition: all 800ms ease-in-out;
}

.btn:hover {
   background-color: hsl(322, 100%, 66%);
}

.container-img img {
   width: 660px;
   height: 440px;
}

.main-section {
   width: 1100px;
   height: 350px;

   margin-right: auto;
   margin-left: auto;
   background-color: #ffff;
   border-radius: 10px;

   /* box-shadow: 0.4px 0.7px 0.6px 0.7px hsl(208, 11%, 55%); */
   
   box-shadow: 0px 0px 0px 0.2px hsl(208, 11%, 55%);
   margin-top: 100px;
}

.content-one {
   display: flex;
   justify-content: space-around;

   align-items: center;
}

.card-1 h3 {
  color: hsl(192, 100%, 9%);
}

.card-1 p {
   width: 428px;
   margin-top: 12px;
}

.cardimg-1 img {
   width: 340px;
   height: 280px;

   margin-top: 25px;
}

.content-two {
   display: flex;
   flex-direction: row-reverse;
   justify-content: right;
   align-items: center;

   gap: 140px;

   width: 1040px;
}

.card-2 p {
   width: 445px;
   color: hsl(208, 11%, 55%);

   margin-top: 12px;
}

.cardimg-2 img {
   width: 350px;
   height: 240px;

  margin-left: 65px;
  margin-top: 45px;
}

.bg-green {
   margin-top: 200px;

   background-color:  hsl(192, 100%, 9%);
   width: 100%;
   height: 80vh;
}